Service/WS.SAP.OutboundDataService/Connected Services/LesSap012/LES-SAP-012.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n0="urn:sap-com:document:sap:rfc:functions" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:tns="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char500">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="500" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="Zsles008">
        <xsd:sequence>
          <xsd:element name="Iblnr" type="n0:char10" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Werks" type="n0:char4" />
          <xsd:element name="Lgort" type="n0:char4" />
          <xsd:element name="Menge" type="n0:quantum13.3" />
          <xsd:element name="Aqty" type="n0:quantum13.3" />
          <xsd:element name="Dqty" type="n0:quantum13.3" />
          <xsd:element name="Gidat" type="n0:date" />
          <xsd:element name="Sjdat" type="n0:date" />
          <xsd:element name="Remarks" type="n0:char500" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Zfles008">
        <xsd:sequence>
          <xsd:element name="Iblnr" type="n0:char10" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Werks" type="n0:char4" />
          <xsd:element name="Lgort" type="n0:char4" />
          <xsd:element name="Logo" type="n0:char1" />
          <xsd:element name="Msg" type="n0:char500" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZsles008">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Zsles008" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZfles008">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Zfles008" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Zles008">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Itab" type="tns:TableOfZsles008" />
            <xsd:element name="Return" type="tns:TableOfZfles008" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Zles008Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Flag" type="n0:char1" />
            <xsd:element name="Itab" type="tns:TableOfZsles008" />
            <xsd:element name="LNum" type="xsd:int" />
            <xsd:element name="Msg" type="n0:char50" />
            <xsd:element name="Return" type="tns:TableOfZfles008" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Zles008">
    <wsdl:part name="parameters" element="tns:Zles008" />
  </wsdl:message>
  <wsdl:message name="Zles008Response">
    <wsdl:part name="parameters" element="tns:Zles008Response" />
  </wsdl:message>
  <wsdl:portType name="ZLES008">
    <wsdl:operation name="Zles008">
      <wsdl:input message="tns:Zles008" />
      <wsdl:output message="tns:Zles008Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZLES008SoapBinding" type="tns:ZLES008">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Zles008">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZLES008Service">
    <wsdl:port name="ZLES008SoapBinding" binding="tns:ZLES008SoapBinding">
      <soap:address location="http://cwsapqas.foton.com.cn:8001/sap/bc/srt/rfc/sap/ZLES008?sap-client=800" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>